{% extends "base.html" %}
{% block title %}Área privada{% endblock %}
{% block content %}
<h1>Bienvenido {{ current_user.usuario }}</h1>
<hr>
<h2>Modifica tus datos aquí</h2>
<h4>Tu email es {{ current_user.email }} y tu usuario {{ current_user.usuario }}</h4>
<p>Para cualquier modificación es necesario introducir la contraseña actual</p>
<p>La contraseña debe incluir mayúsculas, minúsculas, un número y un carácter especial (@$!%*#?&) como mínimo y tener una longitud minima de 8 caracteres y maxima de 40.</p>
<p>¡¡RECUERDA!! El nombre de usuario no admite espacios, estos se sustituirán por "_"</p>
<div>
    <form action="" method="post">
    {{ form.hidden_tag() }}    
    <table>
        <tr>
            <td>{{ form.usuario.label }}</td>
            <td>{{ form.usuario}}</td>
        </tr>
        <tr>
        <td>{{ form.email.label }}</td>
        <td>{{ form.email }}</td>
        </tr>
        <tr>
            <td><strong>{{ form.actual_pass.label }}*</strong></td>
            <td>{{ form.actual_pass }}</td>
        </tr>
        <tr>
        <td> {{ form.password.label }}</td>
        <td>{{ form.password }}</td>
        </tr>
        <tr>
        <td>{{ form.password2.label }}</td>
        <td>{{ form.password2 }}</td>
        </tr>
        <tr>
        <td>{{ form.submit(class_="btn waves-effect waves-light red")}}</td>
        </tr>
    </table>
    </form>
</div>
<h1>Tus post </h1>
<hr>
<div>
    {% for p in post %}
    <div class="col s12 m7">
        <h2 class="header">{{ p.titulo }}</h2>
        <div class="card horizontal">
        <div class="card-image">
            <img src="">
        </div>
        <div class="card-stacked">
            <div class="card-content">
            <p>{{ p.contenido }}</p>
            </div>
            <div class="card-action">
            <div class="row">
                <div class="col s6">
                <p>Creado el: {{ p.fecha }}</p>
                </div>
                <div class="col s6">
                <p>Autor: {{ p.usuario }}</p>
                </div>
            </div>
            <a href="{{ url_for('post',id=p.id_post,autor=p.usuario) }}">Ver Post</a>
            </div>
        </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
